 <style>
   #id_tags{
		max-height: 100px;
		overflow-y: scroll;
		border:1px solid #888;
		padding: 5px;
		border-radius: 5px;
	}
 </style>
 
 <!-- Search widget-->
 <div class="card mb-4">
  <div class="card-header">Search</div>
  <div class="card-body d-flex flex-column">
      <form class="form-group" id="searchForm" method="GET">
        {{ filter.form.as_p }}
        <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
      </form>
  </div>
</div>
<!-- Categories widget-->
<div class="card mb-4">
  <div class="card-header">Tags</div>
  <div class="card-body">
      <div class="row">
          <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                {% for tag in tags %}
                  <li><a href="#!">{{tag.name}}</a></li>
                {% endfor %}
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Side widget-->
<div class="card mb-4">
  <div class="card-header">Side Widget</div>
  <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
</div>