{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
  .login-wrapper{
        display: flex;
        flex-direction: column;
        height: 80vh;
        align-items: center;
        justify-content: center;
      }
</style>
<div class="login-wrapper">
	<a class="btn btn-sm btn-primary" href="{% url 'posts' %}">&laquo Back to Posts</a>
	
	<form action="" method="POST">
		{% csrf_token %}
    {{form.media}}
		{{form}}
		<input class="btn btn-primary" type="submit" value="Submit Post">
		
	</form>
</div>

{% endblock content %}