{% extends 'main.html' %}
{% load static %}
{{ form.media }}
{% block content %}
<style type="text/css">
	#div_id_tags > div{
		max-height: 100px;
		overflow-y: scroll;
		border:1px solid #888;
		padding: 5px;
		border-radius: 5px;
	}
  .login-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
</style>
<div class="login-wrapper">
	<a class="btn btn-sm btn-primary" href="{% url 'posts' %}">&laquo Back to Posts</a>
	
	<h1>Create Post</h1>
  <h4>Help others in Django Blog</h4>
	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.media}}
		{{form.as_p}}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>  
</div>

{% endblock content %}