{% extends 'main.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	#div_id_tags > div{
		max-height: 100px;
		overflow-y: scroll;
		border:1px solid #888;
		padding: 5px;
		border-radius: 5px;
	}
  .login-wrapper{
        display: flex;
        flex-direction: column;
        height: 80vh;
        align-items: center;
        justify-content: center;
      }
</style>
<div class="login-wrapper">
	<a class="btn btn-sm btn-primary" href="{% url 'posts' %}">&laquo Back to Posts</a>
	
	<form action="" method="POST">
		{% csrf_token %}
		{{form}}
		<input class="btn btn-primary" type="submit" value="Submit Post">
		
	</form>
</div>

{% endblock content %}